@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* :root {
    --color-primary: #7CB9E8;
    --color-secondary: #0d4669;

  } */
  
  *{
    font-family: "Onest", "sans-serif";   
  }
  body{
    @apply bg-secondary;
  }
}

@layer components {
  .card{
    @apply rounded shadow-md w-72  h-36;  
    background-color: var(--color-primary);
  }

}

